<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Table template</title>
    <link href="minimal-table.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Book Store</h1>

<body>

<form method="post" th:object="${book}">
    <div>
        <h3>Name the Author</h3>
        <input type="text" th:field="*{author}"/>
        <br/>
        <h3>Give the title</h3>
        <input type="text" th:field="*{title}"/>
        <br/>
        <h3>Set price</h3>
        <input type="text" th:field="*{price}"/>
        <br/>
        <button>Submit</button>


    </div>
</form>
</body>
</body>




</html>

